html {
    scroll-behavior: smooth;
}

:root {
    --bg-color: #F6F5F4;
    --text-color: #3d3d3d;
    --header-color: #2e3436;
    --accent-color: #E66100;
    --border-color: #dcdcdc;
    --card-bg-color: #ffffff;
}

body.dark-theme {
    --bg-color: #242424;
    --text-color: #eeeeec;
    --header-color: #ffffff;
    --accent-color: #78aeed;
    --border-color: #4040405e;
    --card-bg-color: #303030ab;
}

body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.7;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.header, .navigation, .content, .footer {
    max-width: 800px;
    margin: 0 auto;
}

.header {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 2.8rem;
}

.header p {
    margin: 0;
    font-size: 1.1rem;
}

.navigation {
    text-align: center;
    padding: 0px;
    /* padding-bottom: 30px; */
    /* border-bottom: 1px solid var(--border-color); */
    transition: border-color 0.3s;
}

.navigation a {
    text-decoration: none;
    color: var(--accent-color);
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

.navigation a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 40px;
    padding: 15px 30px;
    background-color: var(--card-bg-color);
    border-radius: 15px;
    border: 1px solid var(--border-color);
    transition: background-color 0.3s, border-color 0.3s;
}

/* section:last-child {
    margin-bottom: 25px;
}*/

main h2 {
    display: inline-block;
    margin-bottom: 25px;
    border-bottom: 2px solid var(--accent-color);
}

.post-item {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border-color);
    transition: border-color 0.3s;
}

/* Remove a borda do último item para um visual mais limpo */
.post-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.post-item h3 {
    margin: 0px;
    color: var(--header-color);
}

.post-item a {
    text-decoration: none;
    font-weight: bold;
    color: var(--accent-color);
    transition: color 0.3s;
}

.post-item a:hover {
    text-decoration: underline;
}


.footer {
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Coloca um item em cada ponta */
    align-items: center; /* Alinha verticalmente */
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid var(--border-color);
    color: var(--text-color);
    font-size: 0.9rem;
    transition: border-color 0.3s, color 0.3s;
}

.footer p {
    margin: 0; /* Remove a margem padrão do parágrafo */
}

/* Estilo do botão de tema */
#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%; /* Deixa o fundo circular ao passar o mouse */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Efeito visual ao passar o mouse ou focar no botão */
#theme-toggle:hover {
    background-color: var(--border-color);
}

/* Estilo do ícone SVG dentro do botão */
#theme-toggle svg {
    width: 22px;
    height: 22px;
    fill: currentColor; /* O ícone terá a mesma cor do texto ao redor */
}
